Repository guilhermealbino33/rufus-chatbot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: implement production-ready wppconnect configurations
  backend/src/modules/whatsapp/config/whatsapp-client.config.ts
  backend/src/modules/whatsapp/providers/whatsapp-client.factory.ts
Due: eslint --fix, prettier --write

test: add comprehensive browser health-check script
  backend/scripts/browser-health-check.ts
Due: eslint --fix, prettier --write

fix(whatsapp): optimize puppeteer flags for production stability
  backend/src/modules/whatsapp/config/whatsapp-client.config.ts
Due: eslint --fix, prettier --write

fix(deps): add missing chromium system libraries to dockerfile
  backend/Dockerfile
Due: none

fix(whatsapp): increase session timeout and add diagnostics logging
  backend/src/modules/whatsapp/services/whatsapp-sessions.service.ts
Due: eslint --fix, prettier --write

style(whatsapp): remove emojis from logs and replace error markers with [WARNING]
  backend/src/modules/whatsapp/providers/whatsapp-client.factory.ts
  backend/src/modules/whatsapp/providers/whatsapp-client.manager.ts
  backend/src/modules/whatsapp/services/whatsapp-sessions.service.ts
Due: eslint --fix, prettier --write

fix: Railway build hang and add Chromium dependencies
  nixpacks.toml
Due: none

refactor: update log on wp sessions
  backend/src/modules/whatsapp/services/whatsapp-sessions.service.ts
Due: eslint --fix, prettier --write

refactor: remove defaultStrategy from AuthModule
  backend/src/modules/auth/auth.module.ts
Due: eslint --fix, prettier --write

fix(infra): add chromium and system dependencies for puppeteer on railway
  nixpacks.toml
Due: none

fix(whatsapp): add executable path validation and improve diagnostic logs
  backend/src/modules/whatsapp/providers/whatsapp-client.factory.ts
Due: eslint --fix, prettier --write

fix(infra): automate chromium env vars in nixpacks.toml
  nixpacks.toml
Due: none

chore: implement GitHub Actions CI/CD and remove nixpacks.toml
  .github/workflows/deploy.yml
  nixpacks.toml
Due: none

feat(infra): force docker build on railway via railway.json
  backend/railway.json
Due: prettier --write

fix(infra): use DOCKERFILE builder in railway.json
  backend/railway.json
Due: prettier --write

chore: move railway.json to root and configure docker build
  railway.json
Due: prettier --write

fix: copy wait-for-it.sh from builder stage to prevent context errors
  backend/Dockerfile
Due: none

fix: ignore npm scripts in docker build to avoid husky errors
  backend/Dockerfile
Due: none

fix(backend): fix Dockerfile build error by including devDependencies in builder stage
  backend/Dockerfile
Due: none

fix(backend): adjust Dockerfile to support monorepo root context for Railway deployments
  backend/Dockerfile
Due: none

feat(backend): add build script to package.json and optimize Dockerfile for production
  backend/.dockerignore
  backend/Dockerfile
  package.json
Due: prettier --write

refactor(backend): update Dockerfile for improved build process and production image size
  backend/.dockerignore
  backend/Dockerfile
  railway.json
Due: prettier --write

fix: remove unnecessary file
  backend/package-lock.json
Due: prettier --write

chore(backend): update Dockerfile and railway.json for improved startup and health check configuration
  backend/Dockerfile
  backend/src/app.module.ts
  backend/src/modules/health/health.controller.ts
  backend/src/modules/health/health.module.ts
  backend/src/modules/health/index.ts
  railway.json
Due: eslint --fix, prettier --write

refactor(backend): update environment variable validation and database configuration to support DATABASE_URL or individual vars
  backend/src/crosscutting/config/env.validation.ts
  backend/src/crosscutting/database/data-source.ts
  railway.json
Due: eslint --fix, prettier --write

fix(deploy): exclude scripts from build to fix dist structure
  backend/tsconfig.build.json
Due: prettier --write

test: fix for the failing test in `whatsapp-client.factory.spec.ts`.
  backend/src/modules/whatsapp/providers/whatsapp-client.factory.spec.ts
Due: eslint --fix, prettier --write

fix: import
  backend/src/modules/whatsapp/providers/whatsapp-client.factory.ts
Due: eslint --fix, prettier --write

fix: lint
  backend/src/modules/chatbot/chatbot.controller.ts
  backend/src/modules/users/users.module.ts
  backend/src/modules/whatsapp/controllers/whatsapp-messages.controller.ts
  backend/src/modules/whatsapp/dto/search-session.dto.ts
  backend/src/modules/whatsapp/enums/whatsapp.enum.ts
  backend/src/modules/whatsapp/services/index.ts
  backend/src/shared/common/decorators/index.ts
  backend/src/shared/entities/base.entity.ts
  backend/src/shared/services/webhook.service.ts
  backend/test/app.e2e-spec.ts
Due: eslint --fix, prettier --write

fix: remove unnecessary imports
  backend/src/modules/chatbot/chatbot.service.spec.ts
Due: eslint --fix, prettier --write

fix: resolve eager env validation in tests and refactor health check logs
  backend/scripts/browser-health-check.ts
Due: eslint --fix, prettier --write

feat: creat logger interface
  backend/src/modules/whatsapp/providers/whatsapp-client.factory.ts
  backend/src/modules/whatsapp/services/whatsapp-sessions.service.ts
  backend/src/shared/interfaces/logger.interface.ts
Due: eslint --fix, prettier --write

feat(shared): implement custom AppLoggerService and global LoggerModule
  backend/src/app.module.ts
  backend/src/main.ts
  backend/src/shared/interfaces/logger.interface.ts
  backend/src/shared/logger.module.ts
  backend/src/shared/services/logger.service.ts
Due: eslint --fix, prettier --write

refactor(whatsapp): replace NestJS Logger with custom ILogger
  backend/src/modules/whatsapp/providers/whatsapp-client.factory.ts
  backend/src/modules/whatsapp/providers/whatsapp-client.manager.ts
  backend/src/modules/whatsapp/services/whatsapp-messages.service.ts
  backend/src/modules/whatsapp/services/whatsapp-sessions.service.ts
Due: eslint --fix, prettier --write

refactor(chatbot): replace NestJS Logger with custom ILogger across chatbot and shared services
  backend/src/modules/chatbot/chatbot-user.service.ts
  backend/src/modules/chatbot/chatbot.service.ts
  backend/src/shared/services/sanity-check.service.ts
Due: eslint --fix, prettier --write

refactor(whatsapp): migrate to structured logging payloads
  backend/src/modules/whatsapp/providers/whatsapp-client.manager.ts
  backend/src/modules/whatsapp/services/whatsapp-messages.service.ts
Due: eslint --fix, prettier --write

refactor(chatbot): migrate to structured logging payloads
  backend/src/modules/chatbot/chatbot-user.service.ts
  backend/src/modules/chatbot/chatbot.service.ts
Due: eslint --fix, prettier --write

refactor(shared): migrate SanityCheckService to structured logging payloads
  backend/src/shared/services/sanity-check.service.ts
Due: eslint --fix, prettier --write

refactor: enhance logs on health check
  backend/scripts/browser-health-check.ts
Due: eslint --fix, prettier --write

refactor(logger): transition to structured logging in browser health check and update logger implementation
  backend/scripts/browser-health-check.ts
  backend/src/main.ts
  backend/src/shared/services/logger.service.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: backend/**/*.{ts,js}) or (any of: frontend/**/*.{ts,tsx,js,jsx})
  prettier --write: ((any of: backend/**/*.{ts,js}) or (any of: frontend/**/*.{ts,tsx,js,jsx})) or (any of: *.{json,md})
