Repository guilhermealbino33/rufus-chatbot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "backend/**/*.{ts,js}": ["eslint --fix", "prettier --write"],
  "frontend/**/*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

fix: improve error handling for invalid phone number format in WhatsApp client
  backend/package.json
  package-lock.json
Due: prettier --write

chore: update readme
  README.md
Due: prettier --write

chore: add railways envs
  backend/.env.example
Due: none

chore: clean up .env.example by removing unused Railway environment variables
  backend/.env.example
Due: none

refactor: transform envs
  backend/src/app.module.ts
  backend/src/crosscutting/config/env.validation.ts
Due: eslint --fix, prettier --write

refactor: add debug logs for database connection
  backend/src/crosscutting/config/env.validation.ts
Due: eslint --fix, prettier --write

fix: add explicit validation for required env vars in production
  backend/src/crosscutting/config/config.module.ts
  backend/src/crosscutting/config/env.validation.ts
Due: eslint --fix, prettier --write

chore(config): add @/ path alias and Jest moduleNameMapper
  backend/package.json
  backend/tsconfig.json
Due: prettier --write

feat(config): add registerAs namespaces by domain
  backend/src/crosscutting/config/namespaces/auth.config.ts
  backend/src/crosscutting/config/namespaces/database.config.ts
  backend/src/crosscutting/config/namespaces/index.ts
  backend/src/crosscutting/config/namespaces/server.config.ts
  backend/src/crosscutting/config/namespaces/whatsapp.config.ts
Due: eslint --fix, prettier --write

refactor(config): wire namespaces into ConfigModule, update validation
  backend/src/crosscutting/config/config.module.ts
  backend/src/crosscutting/config/configuration.ts
  backend/src/crosscutting/config/env.validation.ts
  backend/src/crosscutting/config/index.ts
Due: eslint --fix, prettier --write

refactor: migrate consumers to typed config namespace injection
  backend/src/main.ts
  backend/src/modules/auth/auth.module.ts
  backend/src/modules/auth/jwt.strategy.ts
  backend/src/modules/whatsapp/providers/whatsapp-client.factory.ts
Due: eslint --fix, prettier --write

fix(config): add DATABASE_URL support for Railway Service Link
  backend/src/crosscutting/config/env.validation.ts
  backend/src/crosscutting/config/namespaces/database.config.ts
Due: eslint --fix, prettier --write

fix: update docker-compose to use environment variables from .env
  docker-compose.yml
Due: none

fix: update database host and port in .env
  backend/.env
Due: none

fix: update database host and port in .env
  backend/src/crosscutting/config/namespaces/database.config.ts
Due: eslint --fix, prettier --write

fix: update database host and imports
  backend/src/crosscutting/config/index.ts
  backend/src/crosscutting/config/namespaces/index.ts
Due: eslint --fix, prettier --write

fix: simply env validation
  backend/src/crosscutting/config/env.validation.ts
Due: eslint --fix, prettier --write

fix: remove env validation
  backend/.gitignore
  backend/src/crosscutting/config/config.module.ts
  backend/src/crosscutting/config/env.validation.ts
  backend/src/crosscutting/config/index.ts
Due: eslint --fix, prettier --write

fix: remove env
  backend/.env
Due: none

Atualiza docker-compose.yml e configurações do backend
  backend/Dockerfile
  backend/docker-compose.yml
  backend/wait-for-it.sh
  docker-compose.yml
Due: none

fix: remove unnecessary comments
  backend/src/crosscutting/config/config.module.ts
  backend/src/crosscutting/config/namespaces/database.config.ts
Due: eslint --fix, prettier --write

fix: AppModule sintax
  backend/src/app.module.ts
Due: eslint --fix, prettier --write

refactor: move webhook module to shared module
  backend/src/app.module.ts
  backend/src/modules/chatbot/chatbot.module.ts
  backend/src/modules/whatsapp/whatsapp.module.ts
  backend/src/shared/shared.module.ts
Due: eslint --fix, prettier --write

feat: disable synchronize and implement typeorm migrations
  README.md
  backend/MIGRATIONS_WORKFLOW.md
  backend/package.json
  backend/src/app.module.ts
  backend/src/crosscutting/database/data-source.ts
  package-lock.json
Due: eslint --fix, prettier --write

feat: add migrations for core entities (users, sessions, chatbot users)
  backend/src/crosscutting/database/migrations/1772057245346-CreateUserTable.ts
  backend/src/crosscutting/database/migrations/1772057271871-CreateWhatsappSessionTable.ts
  backend/src/crosscutting/database/migrations/1772057299415-CreateChatbotUserTable.ts
Due: eslint --fix, prettier --write

feat: add migrations for logging entities (message and flow logs)
  backend/src/crosscutting/database/migrations/1772057318994-CreateMessageLogTable.ts
  backend/src/crosscutting/database/migrations/1772057339439-CreateFlowLogTable.ts
Due: eslint --fix, prettier --write

refactor: remove redundancy on app module typeorm config
  backend/src/app.module.ts
Due: eslint --fix, prettier --write

fix: enable automatic migration execution on startup
  backend/src/crosscutting/database/data-source.ts
Due: eslint --fix, prettier --write

fix: consolidate docker build stages and restore database readiness check
  backend/Dockerfile
Due: none

chore: bump version to 1.0.0
  backend/package.json
Due: prettier --write

refactor(entities): replace database enums with strings for flexibility
  backend/src/crosscutting/database/migrations/1772057245346-CreateUserTable.ts
  backend/src/crosscutting/database/migrations/1772057271871-CreateWhatsappSessionTable.ts
  backend/src/crosscutting/database/migrations/1772057299415-CreateChatbotUserTable.ts
  backend/src/crosscutting/database/migrations/1772057318994-CreateMessageLogTable.ts
  backend/src/crosscutting/database/migrations/1772057339439-CreateFlowLogTable.ts
  backend/src/modules/chatbot/entities/flow-log.entity.ts
  backend/src/modules/chatbot/entities/message-log.entity.ts
  backend/src/modules/users/entities/user.entity.ts
Due: eslint --fix, prettier --write

fix: remove CREATE TYPE from migrations
  backend/src/crosscutting/database/migrations/1772057245346-CreateUserTable.ts
  backend/src/crosscutting/database/migrations/1772057318994-CreateMessageLogTable.ts
  backend/src/crosscutting/database/migrations/1772057339439-CreateFlowLogTable.ts
Due: eslint --fix, prettier --write

feat: implement strict environment validation
  backend/src/crosscutting/config/config.module.ts
  backend/src/crosscutting/config/env.validation.ts
  backend/src/crosscutting/config/namespaces/whatsapp.config.ts
Due: eslint --fix, prettier --write

feat: add SanityCheckService for environment verification
  backend/src/shared/services/sanity-check.service.ts
  backend/src/shared/shared.module.ts
Due: eslint --fix, prettier --write

fix: enhance sessions logging and search sorting
  backend/src/app.module.ts
  backend/src/modules/whatsapp/services/whatsapp-sessions.service.ts
Due: eslint --fix, prettier --write

test(backend): setup test infrastructure with dotenv-cli and fix alias resolution
  backend/.env.test
  backend/package.json
  backend/test/jest-e2e.json
  package-lock.json
Due: prettier --write

test(backend): align chatbot-sandbox test with current service implementation
  backend/test/chatbot-sandbox.spec.ts
  backend/test/whatsapp-sessions.e2e-spec.ts
Due: eslint --fix, prettier --write

fix: remove unnecessary file
  backend/test/whatsapp-sessions.e2e-spec.ts
Due: eslint --fix, prettier --write

fix: change WHATSAPP_PARTNER_ID to optional env
  backend/src/crosscutting/config/env.validation.ts
Due: eslint --fix, prettier --write

build: optimize chromium environment and session persistence
  backend/Dockerfile
  backend/docker-compose.yml
Due: none
